.warpcode {
    width: auto;
    background-color: #fff;
    padding: 0px 12px 8px 12px;
    border: 1px solid #e1e4e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#codecontainer {
    width: 1000px;
    margin: auto;
}

#nonefind {
    margin-top: 20px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.title {
    font: 12px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    width: auto;
    height: 27px;
    display: flex;
    align-items: center;
    background-color: #f6f8fa;
    padding: 8px 12px;
    border-left: 1px solid #e1e4e8;
    border-right: 1px solid #e1e4e8;
    border-top: 1px solid #e1e4e8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-grp {
    position: relative;
    float: left;
    border-right-width: 0;
    border-radius: 0;
}

#raw-url {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#follow-repo {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.flex-auto {
    flex: auto;
}

.btn {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
}

pre {
    background-color:#fff;
    overflow:auto;
    margin:0 0;
    padding:.2em 1em;
}

pre code,
pre .line-number {
    /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
    /*font:normal normal 12px/14px "Courier New",Courier,Monospace;*/
    font:normal normal 12px/14px SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
    color:black;
    display:block;
    background-color:#fff;
}

pre .line-number {
    cursor: pointer;
}

.hljs {
    background:#fff !important;
    padding: 0px !important;
}

pre .line-number {
    float:left;
    margin:0 1em 0 -1em;
#    border-right:1px solid;
    text-align:right;
}

pre .line-number span {
    display:block;
    color: rgba(27,31,35,.4);
    padding:0 .5em 0 1em;
}

pre span {
    /*line-height: 20px;*/
}

pre .line-number span:hover {
    color: #24292e;
}

pre .cl {
    display:block;
    clear:both;
}
